VITE_FIREBASE_API_KEY=__fill_me__
VITE_FIREBASE_AUTH_DOMAIN=__fill_me__
VITE_FIREBASE_PROJECT_ID=__fill_me__
VITE_FIREBASE_STORAGE_BUCKET=__fill_me__
VITE_FIREBASE_MESSAGING_SENDER_ID=__fill_me__
VITE_FIREBASE_APP_ID=__fill_me__
VITE_FIREBASE_MEASUREMENT_ID=__optional__
